{erl_opts, [
    debug_info,
    {feature, maybe_expr, enable}
]}.

{deps, [
    {hb,
        {git, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "e445aad9da2a3017023ce99bd934540729e3b872"}}}
]}.

{plugins, [
    {pc, "1.15.0"},
    {rebar3_rustler, "0.1.1"},
    {rebar_edown_plugin, "0.7.0"},
    {rebar3_eunit_start,
        {git, "https://github.com/permaweb/rebar3_eunit_start.git",
            {ref, "04ec53fea187039770db0d4459b7aeb01a9021af"}}},
    {plugin,
        {git_subdir, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "e445aad9da2a3017023ce99bd934540729e3b872"},
            "src/forge/plugin"}}
]}.

{shell, [{apps, [hb]}]}.

{eunit, [{apps, [hb]}]}.

{alias, [
    {'eunit-all', [{device, "test --with-core"}]}
]}.
