{erl_opts, [
    debug_info,
    {i, "_build/default/lib/hb/include"},
    {i, "_build/default/lib/hb/src/core"},
    {feature, maybe_expr, enable}
]}.

{deps, [
    {hb,
        {git, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "8c19c6adb45fc658e1ac06e6555efd916fd305e5"}}}
]}.

{plugins, [
    {plugin,
        {git_subdir, "https://github.com/permaweb/HyperBEAM.git",
            {ref, "8c19c6adb45fc658e1ac06e6555efd916fd305e5"},
            "src/forge"}}
]}.

{shell, [{apps, [hb]}]}.

{eunit, [{apps, [hb]}]}.

{alias, [
    {'eunit-all', [{device, "test --with-core"}]}
]}.
